/* Countdown_timer */

.countdown-timer-wrapper {
	width: 100%;
	height: 126px;
	background-image: url('bg-countdown.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	color: #fff;
}

.countdown-timer-ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0 !important;
	text-align: center;
}

.countdown-timer-font-size {
	font-size: 8px !important;
	line-height: 8px;
	letter-spacing: 2px;
}

.countdown-timer-span-size {
	font-size: 48px !important;
	line-height: 62px;
}

.countdown-timer-colon-size {
	font-size: 24px !important;
	line-height: 60px;
	padding: 0 5px;
}


@media (min-width: 768px) {
	.countdown-timer-wrapper {
		height: 310px;
	}

	.countdown-timer-wrapper.small {
		height: 240px;
	}

	.countdown-timer-font-size {
		font-size: 10px !important;
		line-height: 15px;
	}

	.countdown-timer-span-size {
		font-size: 84px !important;
	}

	.countdown-timer-colon-size {
		font-size: 44px !important;
		padding: 0 20px;
	}

	.countdown-timer-span-size,
	.countdown-timer-colon-size {
		line-height: 116px;
	}
}


@media (min-width: 992px) {
	.countdown-timer-font-size {
		font-size: 14px !important;
		line-height: 21px;
	}

	.countdown-timer-span-size {
		font-size: 110px !important;
	}

	.countdown-timer-colon-size {
		font-size: 64px !important;
		padding: 0 20px;
	}

	.countdown-timer-span-size,
	.countdown-timer-colon-size {
		line-height: 168px;
	}

	.countdown-timer-wrapper.small .countdown-timer-span-size {
		font-size: 65px !important;
	}

	.countdown-timer-wrapper.small .countdown-timer-colon-size {
		font-size: 30px !important;
		padding: 0 15px;
	}

	.countdown-timer-wrapper.small .countdown-timer-span-size,
	.countdown-timer-wrapper.small .countdown-timer-colon-size {
		line-height: 100px;
	}
}

@media (min-width: 1200px) {
	.countdown-timer-span-size {
		font-size: 120px !important;
	}

	.countdown-timer-wrapper.small .countdown-timer-span-size {
		font-size: 80px !important;
	}

	.countdown-timer-wrapper.small .countdown-timer-colon-size {
		font-size: 40px !important;
	}

	.countdown-timer-wrapper.small .countdown-timer-span-size,
	.countdown-timer-wrapper.small .countdown-timer-colon-size {
		line-height: 120px;
	}
}